# CODEOWNERS for morphir-examples
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repository
* @finos/morphir-maintainers
